In [26]:
import numpy as np
import pandas as pd
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *

In [28]:
import datetime as dt
import matplotlib.pyplot as plt #make charts & graphs
from matplotlib import style #design of graphs
import pandas_datareader.data as web

style.use('ggplot')

ticker = raw_input("Enter ticker of company: ")
#ticker ex) TSLA.US

start = dt.datetime(2013, 1, 1)
end = dt.datetime(2016, 12, 31)

#df for dataframe
#ticker: symbol for company ex) Tesla = TSLA
#next parameter is source of data
df = web.DataReader(ticker, 'stooq')
if len(df.index) == 0:
    print('Invalid Ticker! Add .US if US company')

print(df)
#print(df.head(100)) #df.tail(n) returns last n data

Enter ticker of company: TSLA.US
               Open     High      Low   Close      Volume
Date
2018-09-14  288.760  297.326  286.520  295.20   6765612.0
2018-09-13  288.020  295.000  285.180  289.46   6340336.0
2018-09-12  281.440  292.500  278.646  290.54  10015427.0
2018-09-11  279.470  282.000  273.550  279.44   9169989.0
2018-09-10  273.260  286.030  271.000  285.50  14283528.0
2018-09-07  260.100  268.350  252.255  263.24  22491931.0
2018-09-06  284.800  291.170  278.880  280.95   7480760.0
2018-09-05  285.050  286.780  277.180  280.74   7720821.0
2018-09-04  296.940  298.190  288.000  288.95   8350469.0
2018-08-31  302.000  305.308  298.600  301.66   5375104.0
2018-08-30  302.260  304.600  297.720  303.15   7216706.0
2018-08-29  310.270  311.850  303.690  305.01   7447392.0
2018-08-28  318.410  318.880  311.190  311.86   7649091.0
2018-08-27  318.000  322.435  308.810  319.27  13079288.0
2018-08-24  320.700  323.850  319.400  322.82   3602564.0
2018-08-23  319.140  327.320  318.100  320.10   5147286.0
2018-08-22  320.870  323.880  314.670  321.64   5945955.0
2018-08-21  310.610  324.790  309.000  321.90  13172230.0
2018-08-20  291.704  308.500  288.200  308.44  17402335.0
2018-08-17  323.500  326.770  303.530  305.50  18958612.0
2018-08-16  339.910  342.280  333.820  335.45   6064033.0
2018-08-15  341.906  344.490  332.140  338.69   9101258.0
2018-08-14  358.450  359.200  347.100  347.64   6986427.0
2018-08-13  361.130  363.190  349.020  356.41  10463881.0
2018-08-10  354.000  360.000  346.000  355.49  11552044.0
2018-08-09  365.550  367.010  345.730  352.45  17183811.0
2018-08-08  369.090  382.640  367.120  370.34  24571163.0
2018-08-07  343.840  387.460  339.150  379.57  30875768.0
2018-08-06  345.460  354.980  341.820  341.99   8564331.0
2018-08-03  347.810  355.000  342.530  348.17  13656486.0
...             ...      ...      ...     ...         ...
2010-08-09   19.900   19.980   19.450   19.60    812656.0
2010-08-06   20.100   20.160   19.520   19.59    742138.0
2010-08-05   21.540   21.550   20.050   20.45    796380.0
2010-08-04   21.950   22.180   20.850   21.26    920756.0
2010-08-03   21.000   21.950   20.820   21.95   1231023.0
2010-08-02   20.500   20.970   20.330   20.92    719145.0
2010-07-30   20.200   20.440   19.550   19.94    426830.0
2010-07-29   20.770   20.880   20.000   20.35    615910.0
2010-07-28   20.550   20.900   20.510   20.72    467183.0
2010-07-27   20.910   21.180   20.260   20.55    619675.0
2010-07-26   21.500   21.500   20.300   20.95    922453.0
2010-07-23   21.190   21.560   21.060   21.29    654049.0
2010-07-22   20.500   21.250   20.370   21.00    962345.0
2010-07-21   20.660   20.900   19.500   20.22   1253442.0
2010-07-20   21.850   21.850   20.050   20.30   1825231.0
2010-07-19   21.370   22.250   20.920   21.91   2486489.0
2010-07-16   20.700   21.300   20.050   20.64   2621210.0
2010-07-15   19.940   21.500   19.000   19.89   3745297.0
2010-07-14   17.940   20.150   17.760   19.84   4196110.0
2010-07-13   17.390   18.640   16.900   18.14   2680060.0
2010-07-12   17.950   18.070   17.000   17.05   2203570.0
2010-07-09   17.580   17.900   16.550   17.40   4058606.0
2010-07-08   16.140   17.520   15.570   17.46   7719539.0
2010-07-07   16.400   16.630   14.980   15.80   6924914.0
2010-07-06   20.000   20.000   15.830   16.11   6879296.0
2010-07-02   23.000   23.100   18.710   19.20   5141807.0
2010-07-01   25.000   25.920   20.270   21.96   8229863.0
2010-06-30   25.790   30.420   23.300   23.83  17194394.0
2010-06-29   19.000   25.000   17.540   23.89  18783276.0
2010-06-28   17.000   17.000   17.000   17.00         NaN

[2069 rows x 5 columns]

In [29]:
print 'Stock Prediction for:', ticker

Stock Prediction for: TSLA.US

In [30]:
df['prices'] = df['Close'].apply(np.int64)
df_price = df[['prices']].copy() #do this to make new df without article series

In [31]:
df_price

            prices
Date
2018-09-14     295
2018-09-13     289
2018-09-12     290
2018-09-11     279
2018-09-10     285
2018-09-07     263
2018-09-06     280
2018-09-05     280
2018-09-04     288
2018-08-31     301
2018-08-30     303
2018-08-29     305
2018-08-28     311
2018-08-27     319
2018-08-24     322
2018-08-23     320
2018-08-22     321
2018-08-21     321
2018-08-20     308
2018-08-17     305
2018-08-16     335
2018-08-15     338
2018-08-14     347
2018-08-13     356
2018-08-10     355
2018-08-09     352
2018-08-08     370
2018-08-07     379
2018-08-06     341
2018-08-03     348
...            ...
2010-08-09      19
2010-08-06      19
2010-08-05      20
2010-08-04      21
2010-08-03      21
2010-08-02      20
2010-07-30      19
2010-07-29      20
2010-07-28      20
2010-07-27      20
2010-07-26      20
2010-07-23      21
2010-07-22      21
2010-07-21      20
2010-07-20      20
2010-07-19      21
2010-07-16      20
2010-07-15      19
2010-07-14      19
2010-07-13      18
2010-07-12      17
2010-07-09      17
2010-07-08      17
2010-07-07      15
2010-07-06      16
2010-07-02      19
2010-07-01      21
2010-06-30      23
2010-06-29      23
2010-06-28      17

[2069 rows x 1 columns]

In [32]:
df["compound"] = ''
df["neg"] = ''
df["neu"] = ''
df["pos"] = ''
df

            prices compound neg neu pos
Date
2018-09-14     295
2018-09-13     289
2018-09-12     290
2018-09-11     279
2018-09-10     285
2018-09-07     263
2018-09-06     280
2018-09-05     280
2018-09-04     288
2018-08-31     301
2018-08-30     303
2018-08-29     305
2018-08-28     311
2018-08-27     319
2018-08-24     322
2018-08-23     320
2018-08-22     321
2018-08-21     321
2018-08-20     308
2018-08-17     305
2018-08-16     335
2018-08-15     338
2018-08-14     347
2018-08-13     356
2018-08-10     355
2018-08-09     352
2018-08-08     370
2018-08-07     379
2018-08-06     341
2018-08-03     348
...            ...      ...  ..  ..  ..
2010-08-09      19
2010-08-06      19
2010-08-05      20
2010-08-04      21
2010-08-03      21
2010-08-02      20
2010-07-30      19
2010-07-29      20
2010-07-28      20
2010-07-27      20
2010-07-26      20
2010-07-23      21
2010-07-22      21
2010-07-21      20
2010-07-20      20
2010-07-19      21
2010-07-16      20
2010-07-15      19
2010-07-14      19
2010-07-13      18
2010-07-12      17
2010-07-09      17
2010-07-08      17
2010-07-07      15
2010-07-06      16
2010-07-02      19
2010-07-01      21
2010-06-30      23
2010-06-29      23
2010-06-28      17

[2069 rows x 5 columns]

In [66]:
print str(df.index[0])[:10] #last date
print str(df.index[-1])[:10] #first date
print df['2013-08-14']


import requests

2018-09-14
2010-06-28
            prices compound neg neu pos
Date
2013-08-14     139

In [5]:
#Nltk sentimentintensityanalyzer works by lexicon of predefined words

from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata
sid = SentimentIntensityAnalyzer()
for date, row in df_stocks.T.iteritems():
    try:
        #sentence is group of NYTimes article headlines of that day
        sentence = unicodedata.normalize('NFKD', df_stocks.loc[date, 'articles']).encode('ascii','ignore')
        ss = sid.polarity_scores(sentence)
        #ss format: {'compound': a, 'neg': b, 'neu': c, 'pos': d} (a,b,c,d are floating points)
        df.set_value(date, 'compound', ss['compound'])
        df.set_value(date, 'neg', ss['neg'])
        df.set_value(date, 'neu', ss['neu'])
        df.set_value(date, 'pos', ss['pos'])
        
        #FIGURE OUT HOW TO SOLVE DEPRECATION WARNING
    except TypeError:
        print df_stocks.loc[date, 'articles']
        print date

NameError: name 'df_stocks' is not defined

In [ ]:
# print str(df.index[0])[:10] #last date
# print str(df.index[-1])[:10] #first date

#Following is sample date ranges for Tesla
train_start_date = '2010-06-28' 
train_end_date = '2016-12-31'
test_start_date = '2017-01-01'
test_end_date = '2018-09-15'
train = df.loc[train_start_date : train_end_date]
test = df.loc[test_start_date:test_end_date]

# Function that Increases the prices by a constant value so it represents closing price during the testing

In [ ]:
def offset_value(test_start_date, test, predictions_df):
    temp_date = test_start_date
    average_last_5_days_test = 0
    average_upcoming_5_days_predicted = 0
    total_days = 10
    for i in range(total_days):
        average_last_5_days_test += test.loc[temp_date, 'prices']
        temp_date = datetime.strptime(temp_date, "%Y-%m-%d").date()
        difference = temp_date + timedelta(days=1)
        temp_date = difference.strftime('%Y-%m-%d')
    average_last_5_days_test = average_last_5_days_test / total_days

    temp_date = test_start_date
    for i in range(total_days):
        average_upcoming_5_days_predicted += predictions_df.loc[temp_date, 'prices']
        temp_date = datetime.strptime(temp_date, "%Y-%m-%d").date()
        difference = temp_date + timedelta(days=1)
        temp_date = difference.strftime('%Y-%m-%d')
    average_upcoming_5_days_predicted = average_upcoming_5_days_predicted / total_days
    difference_test_predicted_prices = average_last_5_days_test - average_upcoming_5_days_predicted
    return difference_test_predicted_prices

train['prices'].plot()

In [ ]:
# Forest Regression, MLP classifier